/********************************************
  GENERAL
********************************************/

html {
  box-sizing: border-box;
  background-image: url(images/dark_wood.png);
}

.hidden {
  display: none;
}

div#initialLoadingProgress,
div.moreLoadingProgress {
  text-align: center;
  font-size: 1.5em;
  color: white;
  font-weight: bolder;
  margin-bottom: 5px;
}

div#initialLoadingProgress p,
div.moreLoadingProgress p {
  font-family: 'Amatic SC', cursive;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}


/********************************************
  Landing
********************************************/

div#landing-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div#header {
  background-image: url(images/Food-Wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  width: 100%;
  height: 500px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#header h1 {
  text-align: center;
  margin: 5px;
  background-color: #981212;
  padding: 5px;
  color: white;
  border: 2px solid black;
  font-size: 7em;
  font-family: 'Amatic SC', cursive;
  width: 400px;
  height: 130px;
  position: absolute;
  top: 25px;
    text-shadow: 2px 2px 3px #414141;

}

#header h1 img#logo {
  height: 90px;
}

#header p {
  color: white;
  text-shadow: 2px 2px 3px #414141;
}

#header p.home-button {
  font-size: 2em;
  background-color: #981212;
  box-shadow: 0px 2px 3px #414141;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  margin-bottom: 5px;
  color: white;
  padding-bottom: 1px;
  border: 1px solid black;
  width: 250px;
  text-align: center;
}

#header p.home-button:hover {
  background-color: #D51B1B;
}



/********************************************
  RECIPE SEARCH
********************************************/

div#title-searchbar {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 25px;
}

p#click-recImage-text,
p#click-ingImage-text {
  font-size: 1.25em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: #B6B6B6;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#title-searchbar form input {
  width: 250px;
  height: 100%;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 5px;
}

#title-searchbar button {
  background-color: #940A0A;
  color: white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  padding: 2px 5px;
  margin-top: 5px;
  height: 100%;
}

.search-results h2 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-weight: bold;
}



/********************************************
  INGREDIENT SEARCH
********************************************/

div.ingredient-selector {
  text-align:   center;
  margin-bottom: 150px;
}

div.ingredient-selector h2,
div.ingredient-selector p {
  font-family: 'Amatic SC', cursive;
  color: #510000;
  font-weight: bolder;
}

div.ingredient-selector h2 {
  font-size: 2em;
}

div.ingredient-selector p {
  font-size: 1.5em;
  margin-bottom: 0;
}

div#ingredient-dropdown {
  display: flex;
  justify-content: center;

}

select.ingredient-list {
  margin-right: 10px;
}



/********************************************
  SEARCH RESULTS
********************************************/

.search-results {
  text-align: center;
  margin-top: 50px;
}

.search-result-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.search-result-item h5 {
  color: white;
  width: 100%;
  margin: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.search-result-item img {
  margin: 5px;
  border: 3px solid #981212;
  width: 75%;
  height: 75%;
}

.search-result-item img:hover {
  box-shadow: 3px 3px 5px black;
} 



/***********************************************
     BOTTOM BUTTONS FORMATTING
***********************************************/

div#change-ingredients {
  text-align: center;
  margin-bottom: 150px;
}

div#recipe-search-buttons {
  width:  100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

div#current-ingredients-section {
  text-align:   center;
  margin: 0;
  padding-bottom: 7px;
  border-top: 3px solid black;
  overflow-x: scroll;
  z-index: 10;
  background-color: #510000;
}

div#current-ingredients-section p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

button#reset,
button#show-more-ingRecipe-btn,
button#change-ingredient-btn,
button#show-more-recipe-btn,
button#back-to-top-btn {
  background-color: #940A0A;
  color: white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  padding: 2px 5px;
}

button#confirm-ingredients {
  background-color: #207E00;
  color: white;
  padding: 5px;
}



/*************************************************
      RESPONSIVE 
*************************************************/



@media screen and (min-width: 768px) {
  div.search-result-item {
    width: 45%;
    margin: 5px;
  }

  button#recipe-search span h3,
  button#ingredient-search span h3 {
    font-size: 1em;
  }

  #title-searchbar input {
    width: 35%;
  }

  button#recipe-search,
  button#ingredient-search {
    font-size: 2em;
  }

  .search-result-item {
    display: inline-block;
    margin: 10px auto;
    padding: 5px auto;
    width: 90%;
    height: 350px;
    text-align: center;
    font-size: 1.25em;
    overflow: hidden;
  }

  .search-result-item img {
    position: relative;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }
}

@media screen and (min-width: 1050px) {
  div.search-result-item {
    width: 25%;
  }
}