/********************************************
  GENERAL
********************************************/

html {
  box-sizing: border-box;
  background-color: #DDAE71;
}

.hidden {
  display: none;
}



/********************************************
  HEADER
********************************************/

div#header {
  background-image: url('Header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 0;
  border-bottom: 2px solid #800A0A;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header h1,
#header h3{
  text-align: center;
  margin: 5px;
  background-color: rgba(255, 255, 255, .7);
  width: 180px;
  padding: 5px;
  color:#800A0A;
  border: 1px solid #545353;
}

#header h3 {
  width: 220px;
}




/********************************************
  NAV
********************************************/
nav {
  background: #510606; 
  color: #F5B800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  margin-bottom: 45px;

}

nav ul {
  padding-left: 0;
}

nav ul li{
  display: inline-block;
  font-size: .9em;
}

nav ul li::after {
  content: ' | ';
  color: #FFDB6E
}

nav ul li#nav-ingredient-search::after {
  content: '';
}



/********************************************
  HOME SCREEN
********************************************/

div.home-container {
  width: 100%;
}

button#recipe-search,
button#ingredient-search {
  width: 100%;
  height: 50px;
  display: block;
  clear: both;
  background-color: grey;
  margin-bottom: 10px;
  background-color: #3A67DB;
}

button#ingredient-search {
  background-color: #DB3A3A;
}



div.ingredient-list {
  margin-left: 10px;
  width: 150px;
  height: 400px;
  overflow-y: scroll;
  text-align: center;
}

.ingredient-list button {
  background-color: #510606;
  width: 75px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 10%;
  border: 1px solid #B00A0A;
  color: #F5B800;
  box-shadow: 2px 2px 3px black;
}

button.selected-button {
  color: white;
  background-color: #165600;
  border: 1px solid #2CAB00;
}



/* .search-result-item {
  display: inline-block;
  margin: auto auto;
}

.search-result-item img {
  margin: 5px;
  border: 3px solid white;
}

.search-result-item img:hover {
  box-shadow: 3px 3px 5px black;
}  */